<ion-view view-title="CCRS">
  <!--
  <ion-nav-bar>
    <ion-nav-back-button ng-click="back()">
      <i class="ion-ios-arrow-back"></i>
    </ion-nav-back-button>
  </ion-nav-bar>
  -->
  <ion-content>
    <h3 class="sub-title">Course Details</h3>
    <div class="content-item-opaque">
      <h5 class="sub-heading" style="margin-top: 0;">Course Name</h5>
      <p><span>{{course.Title}}</span></p>
      <h5 class="sub-heading">Category</h5>
      <p><span>{{course.CourseType}}</span></p>
      <h5 class="sub-heading" style="margin-bottom: 5px;">Description</h5>
      <div class="content-item-blue">
        <p><span>{{course.Description}}</span></p>
      </div>
    </div>
    <div class="content-item-opaque" style="margin-bottom: 15px;">
      <h5 class="sub-heading">Course Length</h5>
      <p><span>{{course.CourseLength}} hours</span></p>
    </div>

    <!--
    <a class="btn-detail-large" ng-if="!online" href="#/tab/courses/{{course.CourseID}}/sessions" ng-click="viewSessions()">
      <i class="icon ion-android-time icon-accessory"></i>
      <div id="view-session">
        View Sessions
        <div id="register">+ Register</div>
      </div>
    </a>
    -->
    <a class="btn-detail-small" ng-if="!online" href="#/tab/courses/{{course.CourseID}}/sessions" ng-click="viewSessions()">
      <i class="icon ion-android-time icon-accessory"></i> View Sessions
    </a>

    <a class="btn-detail-small" ng-if="online && !userEnrolled" ng-click="showConfirm()">
      <i class="icon ion-key icon-accessory"></i> Enrol in this course
    </a>

    <a class="btn-detail-small" ng-if="online && userEnrolled" ng-click="startOnlineCourse()">
      <i class="icon ion-key icon-accessory"></i> Start Course
    </a>

    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-content>
</ion-view>
