<ion-view hide-nav-bar="true">
  <ion-content>
    <div id="login-header">
      <h1>CCRS</h1>
      <h5>Course Catalogue Registration System</h5>
    </div>
    <div id="login-form" class="content-item-opaque">
      <label class="item-input-wrapper login-wrapper">
        <input class="login-input" type="text" placeholder="USERNAME" ng-model="user.username">
      </label>
      <label class="item-input-wrapper login-wrapper">
        <input class="login-input" type="password" placeholder="PASSWORD" ng-model="user.password">
      </label>
      <a id="login-btn" ng-click="login()">SIGN IN</a>
    </div>
  </ion-content>
</ion-view>
