<ion-modal-view>
  <ion-header-bar>
    <h1 class="title text-white">CCRS</h1>
  </ion-header-bar>
  <ion-content class="modal-content privacy-content">
    <h3 class="text-white">Privacy Statement</h3>
    <p>
    When you use the Course Catalogue Registration System (CCRS), CCRS App and related learning databases,
    VCH/PHC/FHA/Island Health collects personal information about you, such as your education profile, the date and
    time you accessed the system and any grades for quizzes or other assessments you complete. CCRS course managers
    and your direct supervisor may access your user training history to confirm that you achieved a passing grade on
    any course offered through CCRS. Your personal information is collected and used for the purposes of managing
    educational opportunities and tracking mandatory education completion required in the course of your employment
    at, or in affiliation with, VCH/PHC/FHA/Island Health. VCH/PHC/FHA/Island Health collects, uses and shares
    personal information only in accordance with the BC Freedom of Information and Protection of Privacy Act.
    <br/><br/>
    If you have any questions about your privacy, please contact:
    <br/><br/>
    Vancouver Coastal Health - Information Privacy and Security Office (604) 875-5568 or e-mail: privacy@vch.ca
    </p>
    <button class="button button-positive close-privacy" ng-click="closeModal()">I Agree</button>
  </ion-content>
</ion-modal-view>
