<ion-view>
  <ion-nav-bar>
    <ion-nav-title>
      CCRS
    </ion-nav-title>
    <ion-nav-back-button class="button back-button buttons header-item" ng-click="back()">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);">
        <span class="previous-title"></span>
      </span>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <h3>My Profile</h3>
    <div class="content-item-opaque">
      <h5 class="sub-heading" style="margin-top: 0;">Course Name</h5>
      <p><span>{{course.Title}}</span></p>
      <h5 class="sub-heading">Category</h5>
      <p><span>{{course.CourseType}}</span></p>
      <h5 class="sub-heading" style="margin-bottom: 5px;">Description</h5>
      <div class="content-item-blue">
        <p><span>{{course.Description}}</span></p>
      </div>
    </div>
  </ion-content>
</ion-view>
