<ion-view>
  <ion-content class="padding">
    <h3>My Profile</h3>
    <p><span>Profile changes cannot be made through the CCRS App. Please visit the <a ng-click="ccrs()">CCRS</a> website to update your profile</span></p>
    <div class="content-item-opaque">
      <p class="sub-heading" style="margin-top: 0;">First Name: <span>{{data.Firstname}}</span></p>
      <p class="sub-heading">Last Name: <span>{{data.Lastname}}</span></p>
      <p class="sub-heading">Department: <span>{{data.Department}}</span></p>
      <p class="sub-heading">Job Title: <span>{{data.JobTitle}}</span></p>
      <p class="sub-heading">Employment Status: <span>{{data.JobStatus}}</span></p>
      <p class="sub-heading">Email Address: <span>{{data.Email}}</span></p><br>
      <p>Username: <span>{{username}}</span></p>
      <p>Password: <span>{{password}}</span></p>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-footer-bar>
</ion-view>
