<ion-view>
  <ion-content class="padding">
    <h3>My Registered Sessions</h3>
    <ion-list>
      <ion-item ng-repeat="session in sessions track by $index" ng-class="appliedClass($index)" >
        <p>Course Title</p>
        <p><span>{{session.Title}}</span></p>
        <p>Course Date: <span>{{session.startDate}}</span></p>
        <p>
          Time: <span>{{session.startTime}} - {{session.endTime}}</span>
        </p>
        <p>
          Location: <span>{{session.Location}}</span>
	</p>
	<p>
          <a class="btn-detail-session-small" ng-click="cancel(session)">
            <strong>Cancel Registration</strong>
          </a>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-footer-bar>
</ion-view>
