<ion-view view-title="Home">
  <ion-content class="padding has-footer">
    <div class="content-item-opaque">
      <a class="btn-detail-large" id="btn-search-course" href="#/tab/courses">
        <i class="icon ion-search icon-accessory"></i>
        <p>Search Courses</p>
      </a>
      <a class="btn-detail-large" href="#/tab/home/registered">
        <i class="icon ion-laptop icon-accessory"></i>
        <p>My Online Courses</p>
      </a>
      <a class="btn-detail-large" href="#/tab/home/registered-sessions">
        <i class="icon ion-ios-paper-outline icon-accessory"></i>
        <p>My Classroom Sessions</p>
      </a>
      <a class="btn-detail-large" href="#/tab/home/training">
        <i class="icon ion-ios-bookmarks-outline icon-accessory"></i>
        <p>My Training History</p>
      </a>
      <a class="btn-detail-large" id="btn-profile" href="#/tab/home/profile">
        <i class="icon ion-person icon-accessory"></i>
        <p>My Profile</p>
      </a>
    </div>
  </ion-content>
  <ion-footer-bar>
    <img id="img-logo" src="img/logo.png" />
    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-footer-bar>
</ion-view>
