<ion-view view-title="Settings">
  <ion-content class="has-footer">
    <ion-list>
      <ion-item style="margin-top: 10px;">
        <a class="paragraph-account" href="mailto:learnwithus@vch.ca"><i class="ion-email ionicon-account"></i> Contact Us</a>
      </ion-item>
      <ion-item ng-click="help()">
        <p class="paragraph-account"><i class="ion-help-circled ionicon-account"></i> Help</p>
      </ion-item>
      <ion-item ng-click="logout()">
        <p class="paragraph-account"><i class="ion-ios-locked ionicon-account"></i> Logout</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-footer-bar>
</ion-view>
