<ion-view view-title="My Profile">
  <ion-content class="padding">
    <div class="content-item-opaque">
      <a class="btn-detail-large btn-full-width" href="#/tab/dash/profile">
        <i class="icon ion-person icon-accessory"></i>
        <p>My Profile</p>
      </a>
      <a class="btn-detail-large btn-full-width" href="#/tab/dash/registered">
        <i class="icon ion-ios-paper-outline icon-accessory"></i>
        <p>My Registered Courses</p>
      </a>
      <a class="btn-detail-large btn-full-width" href="#/tab/dash/training">
        <i class="icon ion-ios-bookmarks-outline icon-accessory"></i>
        <p>My Training History</p>
      </a>
    </div>

    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-content>
</ion-view>
