<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item style="margin-top: 10px;">
        <a class="paragraph-account" href="mailto:learnwithus@vch.ca"><i class="ion-email ionicon-account"></i> Contact Us</a>
      </ion-item>
      <ion-item ng-click="help()">
        <p class="paragraph-account"><i class="ion-help-circled ionicon-account"></i> Help</p>
      </ion-item>
      <ion-item ng-click="logout()">
        <p class="paragraph-account"><i class="ion-ios-locked ionicon-account"></i> Logout</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
