<ion-view view-title="CCRS">
  <ion-content class="padding">
    <h3>My Training History</h3>
    <p><span>Completion certificates are not available through the CCRS app. Please visit the <a ng-click="ccrs()">CCRS</a> website to view and download your certificates</span></p>
    <ion-list>
      <ion-item ng-repeat="course in courses track by $index" ng-class="appliedClass($index)">
        <p>Course Title</p>
        <p><span>{{course.Title}}</span></p>
        <p>Result: <span>{{course.Grade}}</span></p>
        <p>Completion Date: <span>{{course.CompletedDate}}</span></p>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar>
    <div class="footer-light">
      <h6>CCRS, Copyright Vancouver Coastal Health Authority</h6>
      <h6>All Rights Reserved</h6>
    </div>
  </ion-footer-bar>
</ion-view>
