#login-header {
  background-color: #006fa0;
  padding: 24px 5px 10px 5px;
  margin: 0 -5px 5px -5px;
}

#login-header h1,
#login-header h5 {
  color: #fff;
}

#login-form {
  padding: 32px 20px 32px 20px;
}

.login-input {
  background: transparent;
}

.login-wrapper {
  margin-bottom: 24px;
}

#login-btn {
  position: relative;
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  background: #006fa0;
  margin: 65px auto;
  width: 100px;
  height: 50px;
  padding: 15px 10px 10px 10px;
  font-family: "Segoe UI semibold", sans-serif;
}

.modal-content.privacy-content{
  padding: 20px 20px 20px 20px;
  background-color: #00374B;
}

.privacy-content p {
  color: #fff;
}

.close-privacy {
  position: absolute;
  right: 0;
  margin-bottom: 50px;
}
