/*
  main.css contains shared CSS common to multiple templates.
  All other CSS files have CSS specific to their respective templates.
*/
@font-face {
  font-family: 'Segoe UI semibold';
  src: url('../lib/ionic/fonts/seguisb.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI light';
  src: url('../lib/ionic/fonts/segoeuil.ttf') format('truetype');
}

body {
  font-family: "Segoe UI regular", sans-serif;
}

a {
  text-decoration: none;
}

h3 {
	text-align: center;
  font-family: "Segoe UI semibold", sans-serif;
}

h3.sub-title {
  margin-top: 5px;
}

h5.sub-heading {
  text-align: left;
  font-family: "Segoe UI semibold", sans-serif;
}

p span {
  font-family: "Segoe UI light", sans-serif;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #006fa0;
}

.text-center {
  text-align: center;
  font-family: "Segoe UI light", sans-serif;
  padding: 0 30px 0 30px;
}

.bar-header {
  background: #006fa0;
}

.title,
.title.title-center.header-item {
  color: #fff;
  font-family: "Times New Roman", serif;
}

.button.back-button.buttons {
  color: #fff;
}

ion-content {
  padding: 0 5px 20px 5px;
  background-color: #dbf0f8;
}

.item-input-wrapper {
	border: none;
	background: transparent;
	border-bottom: 1px solid #006fa0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	outline: none;
}

.item-no-padding {
  margin-left: -10px;
  margin-right: -10px;
}

.bar.bar-stable.bar-header {
  background-color: #006fa0;
}

.item-input-wrapper {
	height: 35px;
}

.item-input-wrapper input {
  font-family: "Segoe UI light", sans-serif;
}

.content-item {
	padding: 5px 3px 0 3px;
}

.item {
	border-right: none;
	border-left: none;
	padding-bottom: 10px;
	padding-top: 10px;
	background: rgba(255, 255, 255, 0.5);
	overflow: scroll;
}

.item-blue {
	border-right: none;
	border-left: none;
	padding-bottom: 10px;
	padding-top: 10px;
	background: rgba(152, 201, 222, 0.6);
	overflow: scroll;
}

.ion-plus-circled,
.icon-ion-key,
.ion-android-time {
	font-size: 25px;
	margin-right: 10px;
}

.content-item-opaque {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px 5px 3px 5px;
  font-family: "Segoe UI light", sans-serif;
}

.content-item-opaque a,
.content-item-opaque p {
  font-family: "Segoe UI semibold", sans-serif;
}

.content-item-opaque p span {
  font-family: "Segoe UI light", sans-serif;
}

.content-item-blue {
	background: rgba(152, 201, 222, 0.6);
	padding: 10px 5px 10px 5px;
  font-family: "Segoe UI light", sans-serif;
}

.content-item > ion-list > div > ion-item a,
.content-item > ion-list > div > ion-item h2 {
  font-family: "Segoe UI semibold", sans-serif;
}

.content-item > ion-list > div > ion-item > p {
  font-family: "Segoe UI light", sans-serif;
  color: #000;
}

.item-text-wrap p {
  font-family: "Segoe UI semibold", sans-serif;
  color: #000;
}

.item-text-wrap p span {
  font-family: "Segoe UI light", sans-serif;
}

.btn-detail-small {
  position: relative;
  margin: 16px auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  background: #006fa0;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
  width: 65%;
  text-align: center;
  display: block;
  font-family: "Segoe UI semibold", sans-serif;
}

.footer-light h6 {
	font-size: 9px;
	color: #7198A8;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

.footer-light {
  margin: 10px auto;
}

.bar-footer {
  background: #dbf0f8;
  border: 0;
}

.popup-container.popup-showing.active .popup {
	background-color: #006fa0;
}

.popup .btn-positive,
.popup .popup-head .popup-title {
  color: #fff;
}

.popup .popup-body span {
  color: #fff;
  text-align: center;
}

#div-spinner {
  margin: 75px auto;
  text-align: center;
}
